#include <windows.h>
#include "header.h"

IDM_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&About", ID_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "&Exit              Ctrl+W", ID_EXIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&Help              Ctrl+H", ID_HELP
    END
END


ID_DLGBOX DIALOG DISCARDABLE 70, 20, 150, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 10, "Courier New"
CAPTION "About"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 50, 70, 50, 15
    CTEXT "WP Lab 2", IDC_STATIC, 0, 20, 150, 10
    CTEXT "by Ungureanu Irina", IDC_STATIC, 0, 30, 150, 10
    CTEXT "Advanced Form Elements", IDC_STATIC, 0, 50, 150, 10
END


ID_CURSOR CURSOR DISCARDABLE "curs.cur"
ID_ICON ICON DISCARDABLE "icon.ico"
